# -*- coding: utf-8 -*-

import os
from typing import Union, Tuple, Dict
from urllib import parse

from pydantic import BaseModel
from chain_http.async_client import (
    get as async_get,
    post as async_post,
    put as async_put,
    delete as async_delete,
    AsyncHttpResponse
)

from ..schemas.{{ project_name }} import *

FMS_IP_ADDRESS = f"http://{os.environ.get('FMS_IP_ADDRESS', '127.0.0.1')}"
{# 处理post请求的模型和get参数，避免不必要的换行 #}
{% macro generate_parameter(endpoint) -%}
{%- if endpoint.model -%}
body: {{ endpoint.model }}{{ "," if endpoint.parameters }}
{%- endif -%}
{%- for parameter in endpoint.parameters %}
    {%- if parameter.model  -%}
    {{ parameter.name }}: {{ parameter.model }}{{ ", " if not loop.last }}
    {%- elif parameter.type == 'string' -%}
{{ parameter.name }}: str{{ " = str()" if parameter.default else "" }}{{ ", " if not loop.last }}
    {%- elif parameter.type == 'integer' -%}
{{ parameter.name }}: int{{ " = int()" if parameter.default else "" }}{{ ", " if not loop.last }}
    {%- elif parameter.type -%}
{{ parameter.name }}: {{ parameter.type }}{% if parameter.default %} = {% if parameter.type == 'bool' %}str({{ parameter.default }}).lower(){% else %}"{{ parameter.default }}"{% endif %}{% endif %}{{ ", " if not loop.last }}
    {%- endif -%}
{%- endfor -%}
{%- endmacro %}
class {{ cls_name }}(object):
    url = FMS_IP_ADDRESS + ":" + "{{ port }}"
    {% for endpoint in endpoints %}
    @classmethod
    async def {{ endpoint.func_name }}(cls{{ ", " if generate_parameter(endpoint) else "" }}{{ generate_parameter(endpoint) }}) -> Tuple[int, {{ endpoint.response_model if endpoint.response_model != "" else "Dict" }}]:
        """
        {{ endpoint.summary }}
        {{ endpoint.description }}
        """{% if endpoint.method in ['post', 'put', 'delete'] %}
        resp = await async_{{ endpoint.method }}(
            url=parse.urljoin(
                cls.url, "{{ endpoint.path }}"
            ),
            {% if endpoint.model %}json=body.dict(),{% endif %}
            {% if endpoint.parameters %}params=dict({%- for parameter in endpoint.parameters %}{{ parameter.name }}={{ parameter.name }}{{ ", " if not loop.last }}{% endfor %}){% endif %}
        ){% elif endpoint.method == 'get' %}
        resp = await async_get(
            url=parse.urljoin(
                cls.url, "{{ endpoint.path }}"
            ),
            {% if endpoint.parameters %}params=dict({%- for parameter in endpoint.parameters %}{{ parameter.name }}={{ parameter.name }}{{ ", " if not loop.last }}{% endfor %}){% endif %}
        ){% endif %}
        if resp.status != 200:
            print(f"Request failed: {resp.status}, url: {cls.url}, api: {{ endpoint.path }}, response: {resp.text}")
            return resp.status, resp.text
        return resp.status, {% if endpoint.response_model %} {{ endpoint.response_model }}.model_validate_json(resp)  {% else %} resp.json() {% endif %}
        {% endfor %}
